[submodule "libs/Builder.js"]
	path = libs/Builder.js
	url = https://github.com/JWhile/Builder.js.git
[submodule "libs/Fus"]
	path = libs/Fus
	url = https://github.com/JWhile/Fus.git
[submodule "libs/RequestFrame.js"]
	path = libs/RequestFrame.js
	url = https://github.com/JWhile/RequestFrame.js.git
[submodule "libs/Impetus"]
	path = libs/Impetus
	url = https://github.com/JWhile/Impetus.git
